# fly.toml app configuration file for Merlin BESS Quote Builder
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'merlin2'
primary_region = 'lax'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
